<div class="card">
  <div class="header">
    <div class="icon">
      <span class="material-icons"> folder </span>
    </div>
    <div class="title">Test line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;</div>
  </div>
  <div class="preview">test title line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;</div>
  <div class="meta">
    <div class="date">Today</div>
  </div>
</div>
<div class="card">
  <div class="header">
    <div class="icon">
      <span class="material-icons"> folder </span>
    </div>
    <div class="title"></div>
  </div>
  <div class="preview">example test, display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;But with this manual stop (setting parent = null), you cut the chain safely. But with this manual stop (setting parent = null), you cut the chain safely.</div>
  <div class="meta">
    <div class="date">Today</div>
  </div>
</div>
<div class="card">
  <div class="header">
    <div class="icon">
      <span class="material-icons"> folder </span>
    </div>
    <div class="title">Test</div>
  </div>
  <div class="preview">example test, But with tdisplay: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;his manual stop (setting parent = null), you cut the chain safely. But with this manual stop (setting parent = null), you cut the chain safely.</div>
  <div class="meta">
    <div class="date">Today</div>
  </div>
</div>
<div class="card">
  <div class="header">
    <div class="icon">
      <span class="material-icons"> folder </span>
    </div>
    <div class="title">Test</div>
  </div>
  <div class="preview">example test, But with this manual stop (setting parent = null), you cut the chain safely. But with this manual stop (setting parent = null), you cut the chain safely.</div>
  <div class="meta">
    <div class="date">Today</div>
  </div>
</div>
<div class="card">
  <div class="header">
    <div class="icon">
      <span class="material-icons"> folder </span>
    </div>
    <div class="title">Test</div>
  </div>
  <div class="preview">example test, But with this manual stop (setting parent = null), you cut the chain safely. But with this manual stop (setting parent = null), you cut the chain safely.</div>
  <div class="meta">
    <div class="date">Today</div>
  </div>
</div>
<div class="card">
  <div class="header">
    <div class="icon">
      <span class="material-icons"> folder </span>
    </div>
    <div class="title">Test</div>
  </div>
  <div class="preview"></div>
  <div class="meta">
    <div class="date">Today</div>
  </div>
</div>
<div class="card">
  <div class="header">
    <div class="icon">
      <span class="material-icons"> folder </span>
    </div>
    <div class="title">Test</div>
  </div>
  <div class="preview">example test, But with this manual stop (setting parent = null), you cut the chain safely. But with this manual stop (setting parent = null), you cut the chain safely.</div>
  <div class="meta">
    <div class="date">Today</div>
  </div>
</div>
