@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=WDXL+Lubrifont+TC&display=swap");

:root {
  --background-color: #f5efe7;
  --select-color: #5e2dd8;
  --primary-color: #ffffff;
  --secundary-color: #f6f6f6;
  --font-color: #000000;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --shadow-select: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  min-height: 100vh;
}

a {
  user-select: none;
}

h1 {
  user-select: none;
}
