<header>
  <h1 class="page-title">Notas</h1>
  <div class="breadcrumb">
    <span class="breadcrumb-item">Notas</span>
  </div>
  <div class="control-bar">
    <div class="search-box">
      <span class="material-icons search-icon"> search </span>
      <input type="text" class="search-input" placeholder="Buscar notas" />
    </div>
    <select class="control-select">
      <option value="date">Fecha</option>
      <option value="Nombre">Nombre</option>
    </select>
    <div class="view-toggle">
      <button (click)="showList()" class="list view-btn" [class.active]="!viewGrid">
        <span class="material-icons"> dehaze </span>
      </button>
      <button (click)="showGrid()" class="grid view-btn" [class.active]="viewGrid">
        <span class="material-icons"> grid_view </span>
      </button>
    </div>
    <div class="control-create">
      <button class="create-btn new-note">
        <span class="material-icons"> add </span>
        Nota
      </button>
      <button class="create-btn new-folder">
        <span class="material-icons"> add </span>
        Carpeta
      </button>
    </div>
  </div>
</header>
<section>
  @if (viewGrid) {
    <app-note-grid/>
  }@else {
    <app-note-list/>
  }
</section>
