header {
  min-height: 10rem;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
}

.page-title {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.3rem;
  font-size: 0.9rem;
}

.breadcrumb-item {
  cursor: pointer;
  transition: color 0.2s ease;
}

.breadcrumb-item:hover {
  color: var(--select-color);
}

.control-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.search-box {
  flex: 1;
  min-width: 200px;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 12px 1rem 12px 40px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  font-size: 14px;
  transition: all 0.2s ease;
  font-family: inherit;
}

.search-input:focus {
  outline: none;
  border-color: var(--select-color);
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.control-select {
  padding: 0.6rem 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: none;
  border-radius: 0.8rem;
  font-family: inherit;
  transition: all 0.2s ease;
}

.control-select:focus {
  outline: none;
  border-color: var(--select-color);
}

button {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}
.view-toggle {
  display: flex;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

button.view-btn {
  padding: 0.5rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.control-create{
    display: flex;
    gap: 5px;
}

.create-btn{
  padding: 12px 10px;
  background-color: var(--select-color);
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

