<header>
  <h1 class="page-title">Notas</h1>
  <div class="breadcrumb">
    <span class="breadcrumb-item">Notas</span>
  </div>
  <div class="control-bar">
    <div class="search-box">
      <span class="material-icons search-icon"> search </span>
      <input type="text" class="search-input" placeholder="Buscar notas" />
    </div>
    <div class="view-toggle">
      <button class="list view-btn">
        <span class="material-icons"> dehaze </span>
      </button>
      <button class="grid view-btn">
        <span class="material-icons"> grid_view </span>
      </button>
    </div>
    <select class="control-select">
      <option value="date">Fecha</option>
      <option value="Nombre">Nombre</option>
    </select>
    <div class="control-create">
      <button class="create-btn new-note">Nueva nota</button>
      <button class="create-btn new-folder">Nueva carpeta</button>
    </div>
  </div>
</header>
<section>notas</section>
