<header>
  <h1 class="page-title">Notas</h1>
  <div class="breadcrumb">
    <span class="breadcrumb-item">Notas</span>
  </div>
  <div class="control-bar">
    <div class="search-box">
      <span class="material-icons search-icon"> search </span>
      <input type="text" class="search-input" placeholder="Buscar notas" />
    </div>
    <div class="sort-direction">
      <button (click)="toggleSort()" [class.rotate]="sortAsc">
        <span class="material-icons"> arrow_downward </span>
      </button>
    </div>
    <select class="control-select">
      <option value="date">Fecha</option>
      <option value="Nombre">Nombre</option>
    </select>
    <div class="view-toggle">
      <button
        (click)="showList()"
        class="list view-btn"
        [class.active]="!viewGrid"
      >
        <span class="material-icons"> dehaze </span>
      </button>
      <button
        (click)="showGrid()"
        class="grid view-btn"
        [class.active]="viewGrid"
      >
        <span class="material-icons"> grid_view </span>
      </button>
    </div>
    <div class="control-create">
      <button class="create-btn new-note" (click)="showAlert()">
        <span class="material-icons"> add </span>
        Nota
      </button>
      <button class="create-btn new-folder" (click)="createFolder()">
        <span class="material-icons"> add </span>
        Carpeta
      </button>
    </div>
  </div>
</header>
<section [class]="viewGrid ? 'grid' : 'list'">
  @for (item of items(); track item.id) {
  <app-note-card [item]="item" [grid]="viewGrid" />
  }
</section>
