<header>
  <div class="title">
    <h1 class="page-title">Notas</h1>
    @if (loading()) {
      <div class="uploader-status">
        <mat-spinner diameter="30"></mat-spinner>
      </div>
    }
  </div>
  <div class="control-bar">
    <div class="search-box">
      <span class="material-symbols-outlined search-icon"> search </span>
      <input type="text" class="search-input" placeholder="Buscar notas" />
    </div>
    <!-- <div class="sort-direction">
      <button (click)="toggleSort()" [class.rotate]="sortAsc">
        <span class="material-symbols-outlined"> arrow_downward </span>
      </button>
    </div>
    <select class="control-select">
      <option value="date">Fecha</option>
      <option value="Nombre">Nombre</option>
    </select> -->
    <div class="view-toggle">
      <button
        (click)="showList()"
        class="list view-btn"
        [class.active]="!viewGrid"
      >
        <span class="material-symbols-outlined"> dehaze </span>
      </button>
      <button
        (click)="showGrid()"
        class="grid view-btn"
        [class.active]="viewGrid"
      >
        <span class="material-symbols-outlined"> grid_view </span>
      </button>
    </div>
    <div class="control-create">
      <button (click)="createNote()" class="create-btn new-note">
        <span class="material-symbols-outlined"> add </span>
        Nota
      </button>
    </div>
  </div>
</header>
<section #section (scroll)="onScroll($event)" [class]="viewGrid ? 'grid' : 'list'">

  @for (note of notes(); track $index) {
  <app-note-card [note]="note" [grid]="viewGrid"/>
  }
</section>
