<div class="container">
  <form [formGroup]="form">
    <h1>Iniciar sesión</h1>
    @if (loginError) {
      <h3 class="alert">{{loginError}}</h3>
    }
    <input formControlName="email" type="email" placeholder="Correo electrónico" />
    <div class="input-password">
      <input
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        placeholder="Contraseña"
      />
      <button
        type="button"
        tabindex="-1"
        class="btn-visibility"
        (click)="passwordVisibility()"
      >
        @if(hidePassword){
        <span class="material-icons" id="hide-password"> visibility_off </span>
        } @else {
        <span class="material-icons" id="show-password"> visibility </span>
        }
      </button>
    </div>
    <button (click)="login()" class="login" type="submit">Iniciar sesión</button>

    <div class="google">
      <app-google-login />
    </div>
  </form>
</div>
