/* .container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "aside header"
    "aside main";
    height: 100vh;
    overflow: hidden;
} */

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "aside header"
    "aside main";
  height: 100vh;
  overflow: hidden;
}


aside{
    grid-area: aside;
    width: 17rem;
    background-color: var(--secundary-color);
}
/* 
main{
    grid-area: main;
} */

main {
  grid-area: main;
  overflow: hidden; /* evita scroll en el main */
  display: flex;
  flex-direction: column;
}
