<div class="container">
  <aside [class.close]="hideAside">
    <div class="sidebar-header">
      <h1>Minot</h1>
      <div class="toggle">
        <button
          type="button"
          (click)="toggleAside()"
          [class.rotate]="hideAside"
        >
          <span class="material-icons"> arrow_back </span>
        </button>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="notes" routerLinkActive="active">
            <span class="material-icons"> article </span>
            <span>Notas</span>
          </a>
        </li>
        <li>
          <a>
            <span class="material-icons"> checklist_rtl </span>
            <span>Tareas</span>
          </a>
        </li>
        <li>
          <a>
            <span class="material-icons"> delete </span>
            <span>Papelera</span>
          </a>
        </li>
        <li>
          <a>
            <span class="material-icons"> settings </span>
            <span>Configuración</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <main><router-outlet /></main>
</div>
