/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #fff;
  --secundary-color: #2c3338;
  --background-color: #1d2327;
  --foreground-color: #8c8f94;
  --highlight-color: rgba(51, 97, 204, 0.4);
  --alternative-highlight-color: #2c3338;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


button{
  cursor: pointer;
}

/* SCROLL */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}